@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Laila:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
}

main {
    background-image: linear-gradient(to bottom, #000000CF 90%, #48484800 0%, #9E9E9E00 0%, #FFFFFF 100%), url("./assets/background-png.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-left: 100px;
    margin-top: 20px;
}

.travel-img {
    width: 60px;
}

nav {
    margin-top: 40px;
}

ul {
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}
 
li {
    list-style: none;
}

.user-profile {
    margin-top: 25px;
    margin-right: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.star-img {
    width: 30px;
    height: 30px;
}

.profile-img {
    width: 30px;
}

.heading {
    text-align: center;
    margin-top: 200px;
}

h1 {
    color: #fff;
    font-weight: 800;
    line-height: 50px;
    font-size: 40px;
}

.hero-paragraph {
    text-align: center;
    margin-top: 30px;
}

.para {
    color: #fff;
    font-size: 12px;
}

.btn {
    text-align: center;
    margin-top: 30px;
}

.cta {
    color: #fff;
    border: 1px solid #00A651;
    background-color: #00A651;
    padding: 9px;
    border-radius: 10px;
    width: 10%;
    border: none;
}

h2 {
    text-align: center;
    margin-top: 70px;
}

h3 {
    font-size: 14px;
    margin-top: 20px;
}

.plain {
    font-size: 12px;
    margin-top: 20px;
}

.first-icon {
    border: 1px solid #F9F9F9;
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 15px;
}

.second-icon {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 4px #00000026;
}

.third-icon {
    border: 1px solid #F9F9F9;
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 15px;
}


.service-menu {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 26px;
}

.third-div {
    margin-top: 70px;
    background-image: linear-gradient(#0058530D, #0058530D),url("./assets/world_map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.services {
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
}

#services {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}


.achieve {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.four {
    font-size: 22px;
}

#four {
    font-size: 10px;
    margin-top: 10px;
}

.achieve1, .achieve2, .achieve3, .achieve4 {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    height: 30%;
    margin-top: 100px;
}

.world-map {
    width: 40%;
    margin-top: 50px;
}

.world {
    width: 80%;
    padding-left: 20px;
}

.destination {
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
}

.icons {
    width: 20px;
    margin-bottom: 20px;
}

.direction {
    position: relative;
    left: 700px;
    bottom: 420px;
    display: flex;
    gap: 50px;
}

.direction1 {
    position: relative;
    left: 700px;
    bottom: 400px;
    display: flex;
    gap: 50px;
    box-shadow: 2px 1px 2px 2px #00000014;
    max-width: 500px;
}

.direction2 {
    position: relative;
    left: 700px;
    bottom: 380px;
    display: flex;
    gap: 50px;
    box-shadow: 2px 1px 2px 2px #00000014;
    max-width: 500px;
}

.hills {
    width: 130px;
}

.country {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.greater {
    height: 20px;
    position: relative;
    top: 60px;
}

#country {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#count {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.packages {
    background-color: #ECF1F0;
    position: relative;
    bottom: 340px;
    height: 700px;
}

.best {
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    font-size: 25px;
}

.list-of-packages {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.gray {
    background-color: #666666;
    width: 80px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.green {
    background-color: #00A651;
    width: 80px;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.first-img {
    width: 220px;
    height: 160px;
}

.second-img {
    width: 220px;
    height: 160px;
}

.third-img {
    width: 220px;
    height: 160px;
}

.img-list {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testings {
    display: flex;
    justify-content: space-around;
}

.package-1, .package-2, .package-3  {
    font-size: 10px;
    padding-top: 20px;
    min-width: 200px;
}
.day3, .noon3, .night3 {
    font-size: 9px;
} 

.ep {
    width: 10px;
    position: relative;
    top: 15px;
}

.sub-days, .sub-days1, .sub-days2 {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.package-1, .package-2, .package-3 {
    border: 2px solid #ffffff;
    background-color: #FFFFFF;
    margin-right: 2px;
    width: 217px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.day3, .noon3, .night3{
    padding-left: 10px;
    padding-top: 10px;
}

.subby {
    display: flex;
    justify-content: space-around;
    gap: 90px;
}

.subby1 {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
.subby2 {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.click {
    text-align: center;
    color: #FFFFFF;
    background-color: #00A651;
    border: 0;
    font-size: 12px;
    width: 125px;
    border-radius: 5px;
    margin-top: 80px;
    height: 30px;
    font-weight: 700;
}

.click1 {
    text-align: center;
}

.sixth-section {
    position: relative;
    bottom: 280px;
    height: 300px;
}

.trip {
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.next {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

.groupie1 {
    text-align: center;
}

.groupie {
    width: 700px;
}

.groupie-1 {
    width: 1000px;
    padding-top: 40px;
}

.sub-section7 {
    padding-top: 50px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

.seventh-section {
    background-color: #ECF1F0;
    position: relative;
    bottom: 100px;
}

.groupie2 {
    text-align: center;
}

.grreen {
    background: linear-gradient(rgba(116, 125, 239, 0.25) 100%, rgba(94, 59, 225, 0.25) 100%);
    max-width: 700px;
    position: relative;
    left: 25%;
    border: 1px solid lawngreen;
    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 200px;
    border: none;
}

.tele-icon1 {
    width: 35px;
    position: relative;
    left: 690px;
    bottom: 10px;
}

.newsletter {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

#box {
    margin-top: 50px;
    margin-left: 170px;
    height: 35px;
    width: 230px;
    font-size: 10px;
}

.input-button {
    background-color: #32DF8F;
    padding: 10px;
    font-size: 10px;
    width: 100px;
    color: #ffffff;
    border: none;
}

.input-button:hover {
    transform: translateY(10px);
}

.go {
    font-weight: 700;
    font-family: "laila", sans-serif;
    margin-top: 100px;
    margin-left: 140px;
}

.goo {
    font-size: 20px;
    line-height: 0px;
}


.bookk {
    font-size: 11px;
    font-weight: 600;
    color: rgba(94, 98, 130, 1);
    margin-left: 120px;
    margin-top: 15px;
}

.listy1 {
    display: flex;
    justify-content: space-around;
    max-width: 350px;
    position: relative;
    left: 500px;
    bottom: 90px;
}

.main-listy {
    font-size: 10px;
    color: rgba(94, 98, 130, 1);
}

.listy2 {
    margin-left: 540px;
    position: relative;
    bottom: 60px;
    line-height: 30px;
}

.listy3 {
    margin-left: 670px;
    position: relative;
    bottom: 150px;
    line-height: 30px;
}

.listy4 {
    margin-left: 780px;
    position: relative;
    bottom: 240px;
    line-height: 30px;
}

.social-media-links {
    width: 200px;
}

.social-media {
    float: right;
    position: relative;
    bottom: 1115px;
}

.footer {
    height: 600px;
    position: relative;
    bottom: 50px;
    padding-top: 50px;
}
